<template>
  <div id="footer" class="container" style="text-align:center">
    <!-- <footer>
     <b> Copyright &copy; <span>{{ year }} Terisha Theodat</span> </b>
    </footer> -->
  </div>
</template>

<style scoped>
footer{
  /* background-color: firebrick; */
  bottom: 0;
  width: 57.8%;
  padding: 20px;

}
</style>

<script>
export default {
  name: "Footer",
  data() {
    return {
      year: "",
    };
  },
  mounted() {
    this.year = new Date().getFullYear();
  },
};
</script>




