<template>
  <div
    id="navi"
    class="bcontent"
    style="float: left; width: auto; position: absolute; "
  >
    <nav class="navbar navbar-dark bg-primary">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" to="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/groups"><i class="fa fa-users fa-2x" aria-hidden="true"></i> Groups</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/instructors"
            ><i class="fa fa-id-badge fa-2x" aria-hidden="true"></i> Instructors</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/clients"><i class="fa fa-id-card fa-2x" aria-hidden="true"></i> Clients</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/inscriptions"
            ><i class="fa fa-file-archive-o fa-2x" aria-hidden="true"></i> Inscriptions</router-link
          >
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "navi",
  data() {
    return {
    };
  },
  methods: {
  
  },
  mounted() {
  },
};
</script>