<template>
  <div
    id="clientPage"
    class="container"
    style="text-align: center; padding: 40px"
  >
    <h4 class="text-success"><b>Clients</b></h4>
    <div v-if="this.errors.length">
      <br />
      -----------------------------------------------------------------
      <br />
      <b
        ><span v-for="(error, i) in errors" :key="i" style="color: darkred">
          {{ error }}
          <br /> </span
      ></b>
      -----------------------------------------------------------------
    </div>
    <form action="" class="mt-4">
      <div class="mb-3">
        <input
          v-model="clientForm.firstname"
          type="text"
          class="form-control"
          placeholder="First name..."
        />
      </div>
      <div class="mb-3">
        <input
          v-model="clientForm.lastname"
          type="text"
          class="form-control"
          placeholder="Last name..."
        />
      </div>
      <div class="mb-3">
        <textarea
          v-model="clientForm.address"
          type="text"
          class="form-control"
          placeholder="Address..."
        ></textarea>
      </div>
      <div class="mb-3">
        <input
          v-model="clientForm.phone"
          type="text"
          class="form-control"
          placeholder="(###) ### - ####"
        />
      </div>
      <div class="mb-3">
        <select id="groups" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose a group...</option>
          <option
            v-for="(group, i) in groups"
            v-bind:value="group._id"
            :key="i"
          >
            {{ group.groupName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <select id="instructors" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose an instructor...</option>
          <option
            v-for="(instructor, i) in instructors"
            v-bind:value="instructor._id"
            :key="i"
          >
            {{ instructor.IfirstName }} {{ instructor.IlastName }}
          </option>
        </select>
      </div>
      <button
        v-show="!editTrue"
        class="btn btn-success"
        @click.prevent="insertclient()"
      >
        Save
      </button>
      <button
        v-show="editTrue"
        class="btn btn-outline-info"
        @click.prevent="updateclient()"
      >
        Update
      </button>
      <button
        v-show="editTrue"
        class="btn btn-outline-warning"
        @click.prevent="cancel()"
      >
        Cancel
      </button>
    </form>
    <br />
    <br />
    <br />

    <!-- Table section -->
    <label for="" class="text-success"
      ><b>Clients</b> <br />
      (any changes made to the other pages that concern this page will not be
      visible until you update the data below.)</label
    >
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>
          <td>Full name</td>
          <td>Address</td>
          <td>Phone</td>
          <td>Group</td>
          <td>Instructor</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(client, i) in clients" :key="i">
          <td>{{ client._id }}</td>
          <td>{{ client.lastname }}, {{ client.firstname }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.groupName }}</td>
          <td>{{ client.instructorName }}</td>
          <td>
            <button
              class="btn btn-info btn-sm"
              @click="editclient(client)"
              title="edit"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="btn btn-danger btn-sm"
              @click="deleteclient(client._id, i)"
              title="remove"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "clientPage",
  data() {
    return {
      editTrue: false,
      clientId: 0,
      clients: [],
      groups: [],
      instructors: [],
      errors: [],
      clientForm: {
        firstname: "",
        lastname: "",
        address: "",
        phone: "",
        groupID: "",
        groupName: "",
        instructorID: "",
        instructorName: "",
      },
      updateid: 0,
    };
  },
  methods: {
    loadClients() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/clients/`,
        success: function (data, status) {
          if (status === "success") {
            $this.clients = JSON.parse(data.clients);
            $this.groups = JSON.parse(data.groups);
            $this.instructors = JSON.parse(data.instructors);
          }
        },
      });
    },

    insertclient() {
      let $this = this;
      this.errors = [];
      var phoneCheck = 0;
      for (const digit in this.clientForm.phone) {
        if (!isNaN(digit)) {
          phoneCheck++;
        }
      }

      if (this.clientForm.firstname === "" && this.clientForm.lastname === "") {
        this.errors.push("Empty name input(s).");
      }
      if (this.clientForm.address === "") {
        this.errors.push("Empty address input.");
      }

      if (this.clientForm.phone === "" || phoneCheck != 10) {
        this.errors.push(
          "Empty/Invalid phone input. - be sure to enter 10 digits!"
        );
      }
      if (this.clientForm.groupID === "") {
        this.errors.push("Please choose a group.");
      }
      if (this.clientForm.instructorID === "") {
        this.errors.push("Please choose an instructor.");
      }

      if (
        this.clientForm.firstname != "" &&
        this.clientForm.lastname != "" &&
        this.clientForm.address != "" &&
        this.clientForm.phone != "" &&
        this.clientForm.groupID != "" &&
        this.clientForm.instructorID != "" &&
        phoneCheck === 10
      ) {
        this.errors = [];
        $.ajax({
          type: "POST",
          url: `${baseURL}/clients/insertclient`,
          data: this.clientForm,
          success: function (data, status) {
            if (status === "success") {
              swal(
                "Inserted!",
                `${$this.clientForm.firstname} is saved into our system.`,
                "success"
              );

              $this.loadClients();
              for (let i in $this.clientForm) {
                $this.clientForm[i] = "";
              }
              $("#groups").val(null).trigger("change");
              $("#instructors").val(null).trigger("change");
            }
          },
        });
      }
    },

    editclient(client) {
      this.errors = [];
      this.updateid = client._id;
      this.clientForm.firstname = client.firstname;
      this.clientForm.lastname = client.lastname;
      this.clientForm.address = client.address;
      this.clientForm.phone = client.phone;
      $("#groups").val(client.groupID).trigger("change");
      $("#instructors").val(client.instructorID).trigger("change");
      this.editTrue = true;
      $("html, body").animate({ scrollTop: 0 });

      // checking if the group and instructor still exist in the database
      if ($("#groups").val() == null) {
        $("#groups").append(
          new Option(
            "*** Sorry, this group no longer exists. ***",
            null,
            true,
            true
          )
        );
        this.clientForm.groupID = 0;
      }
      if ($("#instructors").val() == null) {
        $("#instructors").append(
          new Option(
            "*** Sorry, this instructor no longer exists. ***",
            null,
            true,
            true
          )
        );
        this.clientForm.instructorID = 0;
      }
    },
    cancel() {
      this.editTrue = false;
      this.errors = [];
      for (let i in this.clientForm) {
        this.clientForm[i] = "";
      }
      $("#groups").val(null).trigger("change");
      $("#instructors").val(null).trigger("change");
    },
    updateclient() {
      let $this = this;
      this.errors = [];
      var phoneCheck = 0;
      for (const digit in this.clientForm.phone) {
        if (!isNaN(digit)) {
          phoneCheck++;
        }
      }

      if (this.clientForm.firstname === "" && this.clientForm.lastname === "") {
        this.errors.push("Empty name input(s).");
      }
      if (this.clientForm.address === "") {
        this.errors.push("Empty address input.");
      }

      if (this.clientForm.phone === "" || phoneCheck != 10) {
        this.errors.push(
          "Empty/Invalid phone input. - be sure to enter 10 digits!"
        );
      }
      if (this.clientForm.groupID === "" || this.clientForm.groupID === 0) {
        this.errors.push("Please choose a group.");
      }
      if (
        this.clientForm.instructorID === "" ||
        this.clientForm.instructorID === 0
      ) {
        this.errors.push("Please choose an instructor.");
      }

      if (
        this.clientForm.firstname != "" &&
        this.clientForm.lastname != "" &&
        this.clientForm.address != "" &&
        this.clientForm.phone != "" &&
        this.clientForm.groupID != "" &&
        this.clientForm.groupID != 0 &&
        this.clientForm.instructorID != "" &&
        this.clientForm.instructorID != 0 &&
        phoneCheck === 10
      ) {
        this.errors = [];

        $.ajax({
          type: "PUT",
          url: `${baseURL}/clients/updateclient/${this.updateid}`,
          data: $this.clientForm,
          success: function (data, status) {
            if (status === "success") {
              for (let i in $this.products) {
                if (($this.clients[i]._id = $this.clientId)) {
                  $this.clients[i].firstname = $this.clientForm.firstname;
                  $this.clients[i].lastname = $this.clientForm.lastname;
                  $this.clients[i].address = $this.clientForm.address;
                  $this.clients[i].phone = $this.clientForm.phone;
                  $this.clients[i].groupID = $this.clientForm.groupID;
                  $this.clients[i].groupName = $this.clientForm.groupName;
                  $this.clients[i].instructorID = $this.clientForm.instructorID;
                  $this.clients[i].instructorName =
                    $this.clientForm.instructorName;
                }
              }
              swal(
                "Updated!",
                `${$this.clientForm.firstname}\'s info has been successfully updated.`,
                "info"
              );

              $this.loadClients();
              for (let i in $this.clientForm) {
                $this.clientForm[i] = "";
              }
              $("#groups").val(null).trigger("change");
              $("#instructors").val(null).trigger("change");
            }
          },
        });
      }
    },

    deleteclient(_id, i) {
      let $this = this;
      this.errors = [];
      swal({
        title: `Confirm Delete Process for ID:${_id}`,
        text: "Once deleted, this data will be unrecoverable",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "DELETE",
            url: `${baseURL}/clients/removeclient/${_id}`,
            success: function (data, status) {
              if (status === "success") {
                $this.clients.splice(i, 1);
                swal(
                  "Removed.",
                  `This client has been removed from our system.`,
                  "warning"
                );
              }
            },
          });
        } else {
        }
      });
    },
  },

  mounted() {
    this.loadClients();
    $("#groups").select2();
    $("#instructors").select2();

    $("#groups").on("change", () => {
      this.clientForm.groupID = $("#groups").val();
      this.clientForm.groupName = $("#groups option:selected").text();
    });
    $("#instructors").on("change", () => {
      this.clientForm.instructorID = $("#instructors").val();
      this.clientForm.instructorName = $("#instructors option:selected").text();
    });
  },
};
</script>