<template>
  <div
    class="container"
    id="groupPage"
    style="text-align: center; padding: 40px"
  >
    <h4 class="text-success"><b>Groups</b></h4>
    <div v-if="this.errors.length">
      <br />
      -----------------------------------------------------------------
      <br />
      <b
        ><span v-for="(error, i) in errors" :key="i" style="color: darkred">
          {{ error }}
          <br /> </span
      ></b>
      -----------------------------------------------------------------
    </div>
    <form action="" class="mt-4">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Name..."
          v-model="groupForm.groupName"
        />
        <br />
        <label>Schedule:</label>
        <select id="schedule" multiple class="form-control">
          <option value="0">Monday</option>
          <option value="1">Tuesday</option>
          <option value="2">Wednesday</option>
          <option value="3">Thursday</option>
          <option value="4">Friday</option>
          <option value="5">Saturday</option>
          <option value="6">Sunday</option>
        </select>
        <br />
        <label for="">Start date: </label
        ><input
          type="date"
          class="form-control"
          v-model="groupForm.startDate"
        />
        <br />
        <label for="">End date: </label
        ><input type="date" class="form-control" v-model="groupForm.endDate" />
        <br />
        <label>Insert a price:</label>
        <input
          type="number"
          class="form-control"
          step="0.01"
          v-model="groupForm.price"
          placeholder="0.00"
        />
        <br />
        <select id="instructors" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose an instructor...</option>
          <option
            v-for="(instruct, i) in instructors"
            v-bind:value="instruct._id"
            :key="i"
          >
            {{ instruct.IfirstName }} {{ instruct.IlastName }}
          </option>
        </select>
      </div>
    </form>
    <br />
    <button class="btn btn-success" @click="submitgroup" v-if="!editTrue">
      Submit
    </button>
    <button class="btn btn-outline-info" @click="updategroup" v-if="editTrue">
      Update
    </button>
    <button class="btn btn-outline-warning" @click="cancel" v-if="editTrue">
      Cancel
    </button>
    <br />
    <br />
    <br />

    <label for="" class="text-success"
      ><b>Groups</b> <br />
      (any changes made to the other pages that concern this page will not be
      visible until you update the data below.)</label
    >
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Group ID</td>
          <td>Group Name</td>
          <td>Schedule</td>
          <td>Start date</td>
          <td>End date</td>
          <td>Price</td>
          <td>Instructor</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(group, i) in groups" :key="i">
          <td>{{ group._id }}</td>
          <td>{{ group.groupName }}</td>
          <td>
            {{ group.schedule }}
          </td>
          <td>{{ group.startDate }}</td>
          <td>{{ group.endDate }}</td>
          <td>$ {{ group.price }}</td>
          <td>{{ group.instructorName }}</td>
          <td>
            <button
              class="btn btn-info"
              v-if="!editTrue"
              @click="editgroup(group)"
              title="edit"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="btn btn-danger"
              @click="deletegroup(group._id, i)"
              title="remove"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "groupPage",
  data() {
    return {
      groups: [],
      instructors: [],
      errors: [],
      groupForm: {
        groupName: "",
        schedule: "",
        dayID: "",
        startDate: "",
        endDate: "",
        instructorID: "",
        instructorName: "",
        price: "",
      },
      editTrue: false,
      updateId: "",
    };
  },
  methods: {
    loadGroups: function () {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/groups`,
        success: function (data, status) {
          if (status === "success") {
            if (typeof data.groups !== "undefined") {
              $this.groups = JSON.parse(data.groups);
            }
            $this.instructors = JSON.parse(data.instructors);
          }
        },
      });
    },
    submitgroup: function () {
      let $this = this;
      // getting value(s) of schedule multiselect
      var theSched = [];
      var theDays = [];
      $("#schedule option:selected").each(function () {
        var $this = $(this);
        if ($this.length) {
          theSched.push($this.text());
          theDays.push($this.val());
        }
      });

      for (let index = 0; index < theSched.length; index++) {
        this.groupForm.schedule += `${theSched[index]} `;
      }
      for (let index = 0; index < theDays.length; index++) {
        this.groupForm.dayID += `${theDays[index]} `;
      }

      this.errors = [];
      this.groupForm.instructorID = $("#instructors").val();
      this.groupForm.instructorName = $("#instructors option:selected").text();

      if (
        this.groupForm.groupName === "" ||
        this.groupForm.instructorID === "" ||
        this.groupForm.instructorName === "Choose an instructor..."
      ) {
        this.errors.push("Please select a name and instructor for this group.");
      }
      if (
        this.groupForm.schedule === "" ||
        this.groupForm.startDate === "" ||
        this.groupForm.endDate === ""
      ) {
        this.errors.push("Empty date and schedule inputs.");
      }
      if (this.groupForm.price <= 0) {
        this.errors.push("Invalid price input.");
      }

      if (
        this.groupForm.groupName != "" &&
        this.groupForm.instructorID != "" &&
        this.groupForm.instructorName != "Choose an instructor..." &&
        this.groupForm.schedule != "" &&
        this.groupForm.startDate != "" &&
        this.groupForm.endDate != "" &&
        this.groupForm.price != "" &&
        this.groupForm.dayID != ""
      ) {
        this.errors = [];

        $.ajax({
          url: `${baseURL}/groups/insertgroup`,
          type: "POST",
          data: $this.groupForm,
          success: (data, status) => {
            if (status === "success") {
              swal(
                "Inserted!",
                `The ${$this.groupForm.groupName} group is saved.`,
                "success"
              );
              $this.loadGroups();
              $("#schedule option:selected").prop("selected", false);
              for (let i in $this.groupForm) {
                $this.groupForm[i] = "";
              }
            }
          },
        });
      }
    },
    editgroup: function (group) {
      this.errors = [];
      this.editTrue = true;
      this.updateId = group._id;
      this.groupForm.groupName = group.groupName;
      this.groupForm.price = group.price;

      for (const key in group.dayID) {
        if (!isNaN(group.dayID[key]) && group.dayID[key] != " ") {
          $("#schedule").val([group.dayID[key]]).trigger("chosen:updated");
        }
      }

      let startDay = new Date(group.startDate);
      let endDay = new Date(group.endDate);
      this.groupForm.startDate = startDay.toISOString().slice(0, 10);
      this.groupForm.endDate = endDay.toISOString().slice(0, 10);

      $("#instructors").val(group.instructorID).trigger("change");
      if ($("#instructors").val() == null) {
        $("#instructors").append(
          new Option(
            "*** Sorry, this instructor no longer exists. ***",
            null,
            true,
            true
          )
        );
        this.groupForm.instructorID = 0;
      }
    },
    cancel: function () {
      this.errors = [];
      this.editTrue = false;
      $("#instructors").val(null).trigger("change");
      $("#schedule option:selected").prop("selected", false);
      for (let i in this.groupForm) {
        this.groupForm[i] = "";
      }
    },
    updategroup: function () {
      // getting value(s) of schedule multiselect
      var theSched = [];
      var theDays = [];
      $("#schedule option:selected").each(function () {
        var $this = $(this);
        if ($this.length) {
          theSched.push($this.text());
          theDays.push($this.val());
        }
      });

      for (let index = 0; index < theSched.length; index++) {
        this.groupForm.schedule += `${theSched[index]} `;
      }
      for (let index = 0; index < theDays.length; index++) {
        this.groupForm.dayID += `${theDays[index]} `;
      }

      let $this = this;
      this.errors = [];
      if (
        this.groupForm.groupName === "" ||
        this.groupForm.instructorID === "" ||
        this.groupForm.instructorID === 0
      ) {
        this.errors.push("Please select a name and instructor for this group.");
      }
      if (
        this.groupForm.schedule === "" ||
        this.groupForm.startDate === "" ||
        this.groupForm.endDate === ""
      ) {
        this.errors.push("Empty date and schedule inputs.");
      }
      if (this.groupForm.price <= 0) {
        this.errors.push("Invalid price input.");
      }

      if (
        this.groupForm.groupName != "" &&
        this.groupForm.instructorID != "" &&
        this.groupForm.schedule != "" &&
        this.groupForm.startDate != "" &&
        this.groupForm.endDate != "" &&
        this.groupForm.price != "" &&
        this.groupForm.dayID != ""
      ) {
        this.errors = [];
        $.ajax({
          type: "PUT",
          url: `${baseURL}/groups/updategroup/${$this.updateId}`,
          data: $this.groupForm,
          success: function (data, status) {
            if (status === "success") {
              for (let i in $this.groups) {
                if ($this.groups[i]._id === $this.updateId) {
                  $this.groups[i].groupName = $this.groupForm.groupName;
                  $this.groups[i].schedule = $this.groupForm.schedule;
                  $this.groups[i].startDate = $this.groupForm.startDate;
                  $this.groups[i].endDate = $this.groupForm.endDate;
                  $this.groups[i].instructorID = $this.groupForm.instructorID;
                  $this.groups[i].instructorName =
                    $this.groupForm.instructorName;
                }
                swal(
                  "Updated!",
                  `Group ${$this.groups[i].groupName} has been updated.`,
                  "info"
                );
              }

              $this.editTrue = false;
              $this.loadGroups();
              for (let i in $this.groupForm) {
                $this.groupForm[i] = "";
              }
              $("#instructors").val(null).trigger("change");
              $("#schedule option:selected").prop("selected", false);
            }
          },
        });
      }
    },
    deletegroup: function (_id, i) {
      let $this = this;
      this.errors = [];
      swal({
        title: `Confirm Delete Process for ID:${_id}`,
        text: "Once deleted, this data will be unrecoverable",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "DELETE",
            url: `${baseURL}/groups/removegroup/${_id}`,
            success: function (data, status) {
              if (status === "success") {
                $this.groups.splice(i, 1);
                swal(
                  "Removed.",
                  `This group has been removed from our system.`,
                  "warning"
                );
              }
            },
          });
        } else {
        }
      });
    },
  },
  mounted() {
    this.loadGroups();
    $("#instructors").select2();

    $("#instructors").on("change", () => {
      this.groupForm.instructorID = $("#instructors").val();
      this.groupForm.instructorName = $("#instructors option:selected").text();
    });
  },
};
</script>