<template>
    <div id="index" class="container-fluid" style="text-align:center">
<h1 class="heading" style="color:white">Get Fit at Teri's Gym!</h1>
   <img src="../assets/gym.jpg" alt="" width="100%" height="921px">
    </div>
</template>

<style scoped>
   .container {
            position: relative; 
   }
   .heading{
       position: absolute; 
            top: 37%; 
            left: 34%; 
   }
</style>

<script>
export default {
    name: "index",
    data() {
        return{

        }
    }
};
</script>