<template>
  <div
    id="inscriptionPage"
    class="container"
    style="text-align: center; padding: 40px"
  >
    <h4 class="text-success"><b>Inscriptions</b></h4>
    <div v-if="this.errors.length">
      <br />
      -----------------------------------------------------------------
      <br />
      <b
        ><span v-for="(error, i) in errors" :key="i" style="color: darkred">
          {{ error }}
          <br /> </span
      ></b>
      -----------------------------------------------------------------
    </div>
    <form action="" class="mt-4">
      <label>Date of inscription/registration</label>
      <div class="mb-2 input-group">
        <input
          type="date"
          class="form-control"
          id="theDate"
          style="text-align: center"
          readonly
        />
      </div>
      <div class="mb-3">
        <select id="clients" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose a client...</option>
          <option
            v-for="(client, i) in clients"
            v-bind:value="client._id"
            :key="i"
          >
            {{ client.firstname }} {{ client.lastname }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <select id="instructors" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose an instructor...</option>
          <option
            v-for="(instructor, i) in instructors"
            v-bind:value="instructor._id"
            :key="i"
          >
            {{ instructor.IfirstName }} {{ instructor.IlastName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <select id="groups" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose a group...</option>
          <option
            v-for="(group, i) in groups"
            v-bind:value="group._id"
            :key="i"
          >
            {{ group.groupName }}
          </option>
        </select>
      </div>
      <br />

      <button
        v-show="!editTrue"
        class="btn btn-success"
        @click.prevent="insertInscription()"
      >
        Save
      </button>
      <button
        v-show="editTrue"
        class="btn btn-outline-info"
        @click.prevent="updateInscription()"
      >
        Update
      </button>
      <button
        v-show="editTrue"
        class="btn btn-outline-warning"
        @click.prevent="cancel()"
      >
        Cancel
      </button>
    </form>
    <br />
    <br />
    <br />

    <!-- Table section -->
    <label for="" class="text-success"
      ><b>Inscriptions</b> <br />
      (any changes made to the other pages that concern this page will not be
      visible until you update the data below.)</label
    >
    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Date of Inscription</td>
          <td>Client Name</td>
          <td>Duration</td>
          <td>Instructor</td>
          <td>Group</td>
          <td>Price</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(inscript, i) in inscriptions" :key="i">
          <td>{{ inscript._id }}</td>
          <td>{{ inscript.date }}</td>
          <td>{{ inscript.clientName }}</td>
          <td>
            <i>{{ inscript.startdate }} </i> <b>thru</b>
            <i> {{ inscript.enddate }}</i>
          </td>
          <td>{{ inscript.instructorName }}</td>
          <td>{{ inscript.groupName }}</td>
          <td>$ {{ inscript.price }}</td>
          <td>
            <button
              class="btn btn-info btn-sm"
              v-if="!editTrue"
              @click="editInscription(inscript)"
              title="edit"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="btn btn-danger btn-sm"
              @click="deleteInscription(inscript._id, i)"
              title="remove"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "inscriptionPage",
  data() {
    return {
      editTrue: false,
      updateId: 0,
      inscriptions: [],
      clients: [],
      groups: [],
      instructors: [],
      errors: [],
      form: {
        date: "",
        clientID: "",
        clientName: "",
        groupID: "",
        groupName: "",
        instructorID: "",
        instructorName: "",
        startdate: "",
        enddate: "",
        price: "",
      },
    };
  },
  methods: {
    loadInscriptions() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/inscriptions`,
        success: function (data, status) {
          if (status === "success") {
            $this.inscriptions = JSON.parse(data.inscriptions);
            $this.clients = JSON.parse(data.clients);
            $this.groups = JSON.parse(data.groups);
            $this.instructors = JSON.parse(data.instructors);
          }
        },
      });
    },
    insertInscription() {
      let $this = this;
      this.errors = [];

      if (
        this.form.clientID === "" ||
        this.form.clientName === "Choose a client..."
      ) {
        this.errors.push("Please select a client.");
      }
      if (
        this.form.groupID === "" ||
        this.form.groupName === "Choose a group..."
      ) {
        this.errors.push("Please select a group.");
      }
      if (
        this.form.instructorID === "" ||
        this.form.instructorName === "Choose an instructor..."
      ) {
        this.errors.push("Please select an instructor.");
      }

      if (
        this.form.clientID != "" &&
        this.form.groupID != "" &&
        this.form.instructorID != ""
      ) {
        this.errors = [];
        // getting date of inscription
        let today = new Date();
        this.form.date = today.toDateString();

        //  Getting the duration from the groups array
        for (let i = 0; i < $this.groups.length; i++) {
          if ($this.form.groupID === $this.groups[i]._id) {
            $this.form.price = $this.groups[i].price;
            $this.form.startdate = $this.groups[i].startDate;
            $this.form.enddate = $this.groups[i].endDate;
          }
        }

        $.ajax({
          type: "POST",
          url: `${baseURL}/inscriptions/insertinscription`,
          data: this.form,
          success: function (data, status) {
            if (status === "success") {
              if (status === "success") {
                swal(
                  "Inserted!",
                  `This inscription is saved into our system.`,
                  "success"
                );

                $this.loadInscriptions();
                for (let i in $this.form) {
                  $this.form[i] = "";
                }
                $("#groups").val(null).trigger("change");
                $("#instructors").val(null).trigger("change");
                $("#clients").val(null).trigger("change");
              }
            }
          },
        });
      }
    },

    editInscription(inscript) {
      this.errors = [];
      this.updateId = inscript._id;
      var todayDate = new Date(inscript.date);
      let year = todayDate.getFullYear();
      let month = ("0" + (todayDate.getMonth() + 1)).slice(-2);
      let day = ("0" + todayDate.getDate()).slice(-2);

      this.form.date = `${year}-${month}-${day}`;
      $("#clients").val(inscript.clientID).trigger("change");
      $("#groups").val(inscript.groupID).trigger("change");
      $("#instructors").val(inscript.instructorID).trigger("change");
      this.editTrue = true;

      if ($("#clients").val() == null) {
        $("#clients").append(
          new Option(
            "*** Sorry, this client no longer exists. ***",
            null,
            true,
            true
          )
        );
        this.form.clientID = 0;
      }
      if ($("#groups").val() == null) {
        $("#groups").append(
          new Option(
            "*** Sorry, this group no longer exists. ***",
            null,
            true,
            true
          )
        );
        this.form.groupID = 0;
      }
      if ($("#instructors").val() == null) {
        $("#instructors").append(
          new Option(
            "*** Sorry, this instructor no longer exists. ***",
            null,
            true,
            true
          )
        );
        this.form.instructorID = 0;
      }
    },
    cancel() {
      this.editTrue = false;
      this.errors = [];
      for (let i in this.form) {
        this.form[i] = "";
      }
      $("#groups").val(null).trigger("change");
      $("#instructors").val(null).trigger("change");
      $("#clients").val(null).trigger("change");
    },
    updateInscription() {
      let $this = this;
      this.errors = [];

      if (this.form.clientID === "" || this.form.clientID === 0) {
        this.errors.push("Please select a client.");
      }
      if (this.form.groupID === "" || this.form.groupID === 0) {
        this.errors.push("Please select a group.");
      }
      if (this.form.instructorID === "" || this.form.instructorID === 0) {
        this.errors.push("Please select an instructor.");
      }

      if (
        this.form.clientID != "" &&
        this.form.clientID != 0 &&
        this.form.groupID != "" &&
        this.form.groupID != 0 &&
        this.form.instructorID != "" &&
        this.form.instructorID != 0
      ) {
        this.errors = [];
        let today = new Date();
        this.form.date = today.toDateString();

        //  Getting the duration from the groups array
        //  Getting the duration from the groups array
        for (let i = 0; i < $this.groups.length; i++) {
          if ($this.form.groupID === $this.groups[i]._id) {
            $this.form.price = $this.groups[i].price;
            $this.form.startdate = $this.groups[i].startDate;
            $this.form.enddate = $this.groups[i].endDate;
          }
        }

        $.ajax({
          type: "PUT",
          url: `${baseURL}/inscriptions/updateinscription/${this.updateId}`,
          data: $this.form,
          success: function (data, status) {
            if (status === "success") {
              for (let i in $this.inscriptions) {
                if ($this.inscriptions[i]._id === $this.updateId) {
                  $this.inscriptions[i].date = $this.form.date;
                  $this.inscriptions[i].clientID = $this.form.clientID;
                  $this.inscriptions[i].clientName = $this.form.clientName;
                  $this.inscriptions[i].groupID = $this.form.groupID;
                  $this.inscriptions[i].groupName = $this.form.groupName;
                  $this.inscriptions[i].instructorID = $this.form.instructorID;
                  $this.inscriptions[i].instructorName =
                    $this.form.instructorName;
                  $this.inscriptions[i].price = "";
                }
              }
              swal(
                "Update!",
                `The changes made to this inscription have been saved.`,
                "info"
              );

              for (let i in $this.form) {
                $this.form[i] = "";
              }
              $this.editTrue = false;
              $this.loadInscriptions();
              $("#groups").val(null).trigger("change");
              $("#instructors").val(null).trigger("change");
              $("#clients").val(null).trigger("change");
            }
          },
        });
      }
    },
    deleteInscription(_id, i) {
      let $this = this;
      this.errors = [];
      swal({
        title: `Confirm Delete Process for ID:${_id}`,
        text: "Once deleted, this data will be unrecoverable.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "DELETE",
            url: `${baseURL}/inscriptions/removeinscription/${_id}`,
            success: function (data, status) {
              if (status === "success") {
                $this.inscriptions.splice(i, 1);
                swal(
                  "Removed.",
                  `This inscription has been removed.`,
                  "warning"
                );
              }
            },
          });
        } else {
        }
      });
    },
  },
  mounted() {
    this.loadInscriptions();
    $("#clients").select2();
    $("#groups").select2();
    $("#instructors").select2();

    $("#clients").on("change", () => {
      this.form.clientID = $("#clients").val();
      this.form.clientName = $("#clients option:selected").text();
    });
    $("#groups").on("change", () => {
      this.form.groupID = $("#groups").val();
      this.form.groupName = $("#groups option:selected").text();
    });
    $("#instructors").on("change", () => {
      this.form.instructorID = $("#instructors").val();
      this.form.instructorName = $("#instructors option:selected").text();
    });

    // Setting date input to current date
    let now = new Date();
    $("#theDate").val(now.toISOString().slice(0, 10));
  },
};
</script>