<template>
  <div
    id="instuctorPage"
    class="container"
    style="text-align: center; padding: 40px"
  >
    <h4 class="text-success"><b>Instructors</b></h4>
    <div v-if="this.errors.length">
      <br />
      -----------------------------------------------------------------
      <br />
      <b
        ><span v-for="(error, i) in errors" :key="i" style="color: darkred">
          {{ error }}
          <br /> </span
      ></b>
      -----------------------------------------------------------------
    </div>
    <form action="" class="mt-4">
      <div class="mb-3">
        <input
          v-model="instructform.IfirstName"
          type="text"
          class="form-control"
          placeholder="First name..."
        />
      </div>
      <div class="mb-3">
        <input
          v-model="instructform.IlastName"
          type="text"
          class="form-control"
          placeholder="Last name..."
        />
      </div>
      <div class="mb-3">
        <input
          v-model="instructform.Iaddress"
          type="email"
          class="form-control"
          placeholder="email@source.com"
        />
      </div>
      <div class="mb-3">
        <input
          v-model="instructform.Iphone"
          type="email"
          class="form-control"
          placeholder="(###) ### - ####"
        />
      </div>
      <div class="mb-3">
        <input
          v-model="instructform.specialty"
          type="email"
          class="form-control"
          placeholder="Specialty..."
        />
      </div>

      <button
        v-show="!editTrue"
        class="btn btn-success"
        @click.prevent="submitInstructor()"
      >
        Save
      </button>
      <button
        v-show="editTrue"
        class="btn btn-outline-info"
        @click.prevent="updateInstructor()"
      >
        Update
      </button>
      <button
        v-show="editTrue"
        class="btn btn-outline-warning"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>
    <br />
    <br />
    <br />

    <!-- Table section -->
    <label for="" class="text-success"><b>Instructors</b></label>
    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>Specialty</td>
          <td>Instructor ID</td>
          <td>Full name</td>
          <td>Address</td>
          <td>Phone</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(instruct, i) in instructors" :key="i">
          <td>{{ instruct.specialty }}</td>
          <td>{{ instruct._id }}</td>
          <td>{{ instruct.IfirstName }} {{ instruct.IlastName }}</td>
          <td>{{ instruct.Iaddress }}</td>
          <td>{{ instruct.Iphone }}</td>
          <td>
            <button
              class="btn btn-info btn-sm"
              v-if="!editTrue"
              @click="editInstructor(instruct)"
              title="edit"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="btn btn-danger btn-sm"
              @click="deleteInstructor(instruct._id, i)"
              title="remove"
            >
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "instuctorPage",
  data() {
    return {
      editTrue: false,
      updateId: 0,
      instructors: [],
      errors: [],
      instructform: {
        IfirstName: "",
        IlastName: "",
        Iaddress: "",
        Iphone: "",
        specialty: "",
      },
      updateId: "",
    };
  },
  methods: {
    loadInstructors() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/instructors`,
        success: function (data, status) {
          if (status === "success") {
            $this.instructors = JSON.parse(data);
          }
        },
      });
    },
    submitInstructor() {
      let $this = this;
      this.errors = [];
      var phoneVerifier = 0;
      for (const digit in this.instructform.Iphone) {
        if (!isNaN(digit)) {
          phoneVerifier++;
        }
      }

      if (
        this.instructform.IfirstName === "" ||
        this.instructform.IlastName === ""
      ) {
        this.errors.push("Empty name input(s).");
      }
      if (this.instructform.Iaddress === "") {
        this.errors.push("Empty address input.");
      }
      if (this.instructform.Iphone === "" || phoneVerifier != 10) {
        this.errors.push(
          "Empty/Invalid email input. - be sure to enter 10 digits."
        );
      }
      if (this.instructform.specialty === "") {
        this.errors.push("Empty specialty input.");
      }

      if (
        this.instructform.IfirstName != "" &&
        this.instructform.IlastName != "" &&
        this.instructform.Iaddress != "" &&
        this.instructform.Iphone != "" &&
        this.instructform.specialty != "" &&
        phoneVerifier === 10
      ) {
        this.errors = [];
        $.ajax({
          type: "POST",
          url: `${baseURL}/instructors/insertinstructor`,
          data: this.instructform,
          success: function (data, status) {
            if (status === "success") {
              swal(
                "Inserted!",
                `Instructor ${$this.instructform.IlastName} is saved into our system.`,
                "success"
              );

              $this.loadInstructors();
              for (let i in $this.instructform) {
                $this.instructform[i] = "";
              }
            }
          },
        });
      }
    },

    editInstructor(instruct) {
      this.errors = [];
      this.updateId = instruct._id;
      this.instructform.IfirstName = instruct.IfirstName;
      this.instructform.IlastName = instruct.IlastName;
      this.instructform.Iaddress = instruct.Iaddress;
      this.instructform.Iphone = instruct.Iphone;
      this.instructform.specialty = instruct.specialty;
      this.editTrue = true;
    },
    cancelUpdate() {
      this.editTrue = false;
      this.errors = [];
      for (let i in this.instructform) {
        this.instructform[i] = "";
      }
    },
    updateInstructor() {
      let $this = this;
      this.errors = [];
      var phoneVerifier = 0;
      for (const digit in this.instructform.Iphone) {
        if (!isNaN(digit)) {
          phoneVerifier++;
        }
      }

      if (
        this.instructform.IfirstName === "" ||
        this.instructform.IlastName === ""
      ) {
        this.errors.push("Empty name input(s).");
      }
      if (this.instructform.Iaddress === "") {
        this.errors.push("Empty address input.");
      }
      if (this.instructform.Iphone === "" || phoneVerifier != 10) {
        this.errors.push(
          "Empty/Invalid email input. - be sure to enter 10 digits."
        );
      }
      if (this.instructform.specialty === "") {
        this.errors.push("Empty specialty input.");
      }

      if (
        this.instructform.IfirstName != "" &&
        this.instructform.IlastName != "" &&
        this.instructform.Iaddress != "" &&
        this.instructform.Iphone != "" &&
        this.instructform.specialty != "" &&
        phoneVerifier === 10
      ) {
        this.errors = [];
        $.ajax({
          type: "PUT",
          url: `${baseURL}/instructors/updateinstructor/${$this.updateId}`,
          data: $this.instructform,
          success: function (data, status) {
            if (status === "success") {
              for (let i in $this.instructors) {
                if ($this.instructors[i]._id === $this.updateId) {
                  $this.instructors[i].IfirstName =
                    $this.instructform.IfirstName;
                  $this.instructors[i].IlastName = $this.instructform.IlastName;
                  $this.instructors[i].Iaddress = $this.instructform.Iaddress;
                  $this.instructors[i].Iphone = $this.instructform.Iphone;
                  $this.instructors[i].specialty = $this.instructform.specialty;
                  swal(
                    "Updated!",
                    `Instructor ${$this.instructors[i].IlastName} has been updated in our system.`,
                    "info"
                  );
                }
              }

              $this.editTrue = false;
              $this.loadInstructors();
              for (let i in $this.instructform) {
                $this.instructform[i] = "";
              }
            }
          },
        });
      }
    },
    deleteInstructor(_id, i) {
      let $this = this;
      this.errors = [];
      swal({
        title: `Confirm Delete Process for ID:${_id}`,
        text: "Once deleted, this data will be unrecoverable.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "DELETE",
            url: `${baseURL}/instructors/removeinstructor/${_id}`,
            success: function (data, status) {
              if (status === "success") {
                $this.instructors.splice(i, 1);
                swal(
                  "Removed.",
                  `This instructor has been removed from our system.`,
                  "warning"
                );
              }
            },
          });
        } else {
        }
      });
    },
  },
  mounted() {
    this.loadInstructors();
  },
};
</script>